* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ff5722;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.container p {
    font-size: 28px; /* เพิ่มขนาดตัวอักษรขององค์ประกอบ p */
}





